.btn{
    height: 50px;
    background-color: rgba($color: $asbestos, $alpha: .7);
    border-radius: 10px;
    border:none;
    outline: none;
    color: $white;
    &:hover{
        outline: none;
    }
}