.charts{
    padding: 40px 0;
    position: relative;

    &__title{
        margin-bottom: 40px;
        font-size: 30px;
        font-weight: 700;
        color: $black;
        line-height: 1.2;
        text-align: center;
    }

    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 60px;
    }

    &__query, &__round, &__polar{
        width: 500px;
        margin: 30px;
    }

    &__btn{
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(44, 62, 80, 0.6);
        box-shadow: 0px 5px #2d3436;
        border-radius: 0;
        transition: all 0.1s ease-in;
        &:hover{
            background-color: rgba(52, 73, 94,0.5);
        }

        &:active{
            bottom: 15px;
            box-shadow: none;
            outline: none;
        }
        &:focus{
            outline: none;
        }
    }
}
@media only screen and (max-width: 535px) {
    .charts {
        &__query, &__round, &__polar {
           width: 350px;
        }
    }
}
@media only screen and (max-width: 1195px) {
    .charts{
        &__wrapper{

        }
    }
}