//hex format
$wet: #34495e;
$white: #fff;
$black: #353b48;
$asbestos: #7f8c8d;
$silverBlack: rgba(189, 195, 199,0.8);
$emerland: #2ecc71;
$nights: #353b48;
$blue: #2980b9;
$piko: #192a56;
//rgba format

$silver: rgba(189, 195, 199,0.5);

$color1: #2ecc71;