.subsystem{
    min-height: 700px;
    padding: 40px 0;
    background-color: $silver;
    &__title{
        margin-bottom: 60px;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }

    &__menu{
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
        margin-bottom: 80px;
        &-link{
            list-style: none;
            display: flex;
            justify-content: center;
            width: 45%;
            padding: 5px 20px;
            position: relative;
            margin-bottom: 60px;
            &::before{
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                background: url('../icons/subsystem/bracket.png') center (center/cover) no-repeat;
                top: 0;
                left: 0;
                transition: all 0.2s cubic-bezier(0.5, 1, 0.89, 1);;
            }
            &::after{
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                background: url('../icons/subsystem/bracket-right.png') center (center/cover) no-repeat;
                bottom: 0;
                right: 0;
                transition: all 0.1s cubic-bezier(0.5, 1, 0.89, 1);;
            }

            &:hover{
                &::before{
                    transform: translateX(-10px) translateY(-10px);
                }
                &::after{
                    transform: translateX(10px) translateY(10px);
                }
            }
            a{
                font-size: 20px;
                font-weight: 300;
                color: $wet;
                text-decoration: none;
            }
        }
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            &:hover{
                text-decoration: none;
            }
        }
    }

    &__item{
        width: 221px;
        height: 297px;
        box-shadow: 0 43px 57px rgba(0,0,0,0.19);
        border-radius: 20px;
        position: relative;
        transition: all 0.2s cubic-bezier(0.61, 1, 0.88, 1);
        padding: 5px;
        h2{
            margin-top: 20px;
            color: $white;
            font-size: 20px;
            font-weight: 300;
            text-transform: uppercase;
            text-align: center;
        }
        &:nth-child(2n+1){
            h2{
                text-align: left;
                margin-left: 20px;
            }
        }
        &:hover{
            transform: translateX(-20px) translateY(-20px);
            cursor: pointer;
        }
    }

    @for $i from 1 to 5 {
        &__item#{$i}{
            background: url('../icons/work/item#{$i}.png') center 0px;

        }
    }
}
@media only screen and (min-width: 901px) and (max-width:990px) {
    .subsystem {
        &__wrapper {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 50px;
        }
        &__menu{
            justify-content: space-around;
            &-link{
                width: 45%;
                &::before{
                    top: 0;
                    left: 9px;
                }
                &::after{
                    bottom: 0;
                    right: 9px;
                }
            }
        }
        &__item {
            margin: 15px 30px;

        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px){
    .subsystem{
        &__title{
            font-size: 24px;
        }

        &__menu{
            flex-direction: column;
            flex-wrap: wrap;
            margin-bottom: 0;
            &-link{
                margin-left: 30px;
            }
        }

        &__wrapper{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 30px;
        }

        &__item{
            margin: 15px 15px;

        }

    }
}