* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #353b48;
}

* ul {
  padding: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.btn {
  height: 50px;
  background-color: rgba(189, 195, 199, 0.5);
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
}

.btn:hover {
  outline: none;
}

@keyframes rotateBeforeTriangle {
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(120deg);
  }
}

@keyframes workStatusEnabled {
  0%, 100% {
    background-color: #2ecc71;
  }
  50% {
    background-color: rgba(46, 204, 113, 0.2);
  }
}

@keyframes workStatusDisabled {
  0%, 100% {
    background-color: #e74c3c;
  }
  50% {
    background-color: rgba(231, 76, 60, 0.2);
  }
}

@keyframes gradientButton {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header {
  height: 100px;
  padding: 20px 0;
  position: relative;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.header__logo a img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.header__logo a:hover {
  text-decoration: none;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header__menu-link:nth-child(1n+2) {
  margin-left: 60px;
}

.header__menu-link a {
  color: #fff;
  font-size: 18px;
}

.header__menu-link a:hover {
  text-decoration: none;
  color: #7f8c8d;
}

.sub_header {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  background-color: #353b48;
  box-shadow: 0 0 20px #353b48;
  height: 70px;
  z-index: 2;
}

.main {
  height: 720px;
  padding: 120px 0 0px;
}

.main a {
  width: 200px;
}

.main__wrapper {
  display: flex;
  justify-content: space-between;
}

.main__content {
  display: flex;
  width: 65%;
  flex-direction: column;
}

.main__about {
  width: 200px;
}

.main__title {
  width: 610px;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 30px;
}

.main__descr {
  width: 600px;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  line-height: 1.2;
}

.main__form {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.main__form h2 {
  color: #fff;
  margin-bottom: 20px;
}

.main__form input {
  width: 100%;
  height: 50px;
  background-color: #fff;
  color: #353b48;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  outline: none;
  font-size: 14px;
}

.main__form input:hover {
  outline: none;
}

.main__form textarea {
  width: 100%;
  height: 200px;
  background-color: #fff;
  color: #353b48;
  padding: 10px;
  border: none;
  font-size: 14px;
  border-radius: 10px;
  margin-bottom: 20px;
  outline: none;
  resize: none;
}

#particles-js {
  width: 100%;
  height: 820px;
  position: absolute;
  top: 0;
  background-color: #202020;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -1;
}

.subsystem {
  min-height: 700px;
  padding: 40px 0;
  background-color: rgba(189, 195, 199, 0.5);
}

.subsystem__title {
  margin-bottom: 60px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.subsystem__menu {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 80px;
}

.subsystem__menu-link {
  display: block;
  width: 50%;
  padding-left: 20px;
  position: relative;
  margin-bottom: 60px;
}

.subsystem__menu-link::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: url("../icons/subsystem/bracket.png") center center/cover no-repeat;
  bottom: 20px;
  left: 9px;
  transition: all 0.2s cubic-bezier(0.5, 1, 0.89, 1);
}

.subsystem__menu-link::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: url("../icons/subsystem/bracket-right.png") center center/cover no-repeat;
  top: 20px;
  transition: all 0.1s cubic-bezier(0.5, 1, 0.89, 1);
}

.subsystem__menu-link:hover::before {
  transform: translateX(-10px) translateY(-10px);
}

.subsystem__menu-link:hover::after {
  transform: translateX(10px) translateY(10px);
}

.subsystem__menu-link a {
  font-size: 20px;
  font-weight: 300;
  color: #34495e;
  text-decoration: none;
}

.subsystem__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subsystem__wrapper a:hover {
  text-decoration: none;
}

.subsystem__item {
  width: 221px;
  height: 297px;
  box-shadow: 0 43px 57px rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  position: relative;
  transition: all 0.2s cubic-bezier(0.61, 1, 0.88, 1);
  padding: 5px;
}

.subsystem__item h2 {
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.subsystem__item:nth-child(2n+1) h2 {
  text-align: left;
  margin-left: 20px;
}

.subsystem__item:hover {
  transform: translateX(-20px) translateY(-20px);
  cursor: pointer;
}

.subsystem__item1 {
  background: url("../icons/work/item1.png") center 0px;
}

.subsystem__item2 {
  background: url("../icons/work/item2.png") center 0px;
}

.subsystem__item3 {
  background: url("../icons/work/item3.png") center 0px;
}

.subsystem__item4 {
  background: url("../icons/work/item4.png") center 0px;
}

.statistics {
  min-height: 300px;
  padding: 40px 0;
  background-color: rgba(189, 195, 199, 0.8);
}

.statistics__title {
  margin-bottom: 80px;
  font-size: 30px;
  font-weight: 700;
  color: #353b48;
  line-height: 1.2;
  text-align: center;
}

.statistics__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.statistics__item, .statistics__formed {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 120px;
}

.statistics__item-container, .statistics__formed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: rgba(189, 195, 199, 0.5);
  box-shadow: 0 0 30px rgba(52, 73, 94, 0.3);
  cursor: pointer;
}

.statistics__item-container__image, .statistics__formed-container__image {
  width: 60%;
  height: 60%;
}

.statistics__item:nth-child(1) .statistics__image1:hover, .statistics__formed:nth-child(1) .statistics__image1:hover {
  background: url("../icons/statistics/item1_on.png") 50% 50%/cover no-repeat;
}

.statistics__item:nth-child(2) .statistics__image2:hover, .statistics__formed:nth-child(2) .statistics__image2:hover {
  background: url("../icons/statistics/item2_on.png") 50% 50%/cover no-repeat;
}

.statistics__item:nth-child(1) .statistics__image1, .statistics__formed:nth-child(1) .statistics__image1 {
  width: 80px;
  height: 80px;
  background: url("../icons/statistics/item1.png") 50% 50%/cover no-repeat;
}

.statistics__item:nth-child(2) .statistics__image2, .statistics__formed:nth-child(2) .statistics__image2 {
  width: 80px;
  height: 80px;
  background: url("../icons/statistics/item2.png") 50% 50%/cover no-repeat;
}

.statistics__item:nth-child(3) .statistics__image3, .statistics__formed:nth-child(3) .statistics__image3 {
  width: 80px;
  height: 80px;
  background: url("../icons/statistics/item3.png") 50% 50%/cover no-repeat;
}

.statistics__item:nth-child(1)::after, .statistics__formed:nth-child(1)::after {
  content: '';
  height: 150px;
  width: 3px;
  border-radius: 20px;
  background-color: #353b48;
  position: absolute;
  top: 0;
  transform: translateY(30px) translateX(290px) rotate(90deg);
  z-index: -1;
}

.statistics__formed {
  position: relative;
  margin-bottom: 0;
}

.statistics__formed::after {
  content: '';
  height: 100px;
  width: 3px;
  border-radius: 20px;
  background-color: #353b48;
  position: absolute;
  top: 0;
  transform: translateY(-120px) translateX(140px) rotate(38deg);
  z-index: -1;
}

.statistics__formed::before {
  content: '';
  height: 100px;
  width: 3px;
  border-radius: 20px;
  background-color: #353b48;
  position: absolute;
  top: 0;
  transform: translateY(-120px) translateX(-140px) rotate(-38deg);
  z-index: -1;
}

.statistics__count {
  font-size: 50px;
  font-weight: 500;
  color: #353b48;
}

.statistics__header {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 300;
}

.work {
  height: 180px;
  padding: 20px 0 0;
  background-color: rgba(189, 195, 199, 0.5);
}

.work__title {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 700;
  color: #353b48;
  line-height: 1.2;
  text-align: center;
}

.work__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}

.work__menu-item {
  padding-left: 15px;
  width: 33.3%;
  position: relative;
  list-style-type: none;
}

.work__menu-item a {
  font-size: 16px;
  font-weight: 500;
  color: #353b48;
}

.work__menu-item a:hover {
  text-decoration: none;
}

.work__menu-item::before {
  content: '';
  width: 7px;
  height: 7px;
  background-color: #2ecc71;
  position: absolute;
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  animation: workStatusEnabled 1s infinite linear;
}

.work__menu-item:nth-child(1n+2)::before {
  background-color: #e74c3c;
  animation: workStatusDisabled 1s infinite linear;
}

.query, .round, .polar {
  min-height: 580px;
  padding: 40px 0;
}

.title {
  margin-top: 50px;
  top: 40px;
}

.information {
  min-height: 500px;
  padding: 20px 0;
}

.information__title {
  margin: 40px 0;
}

.information__table {
  font-size: 14px;
  background: white;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.information__table th {
  font-size: 13px;
  font-weight: normal;
  background: #b9c9fe;
  border-top: 4px solid #aabcfe;
  border-bottom: 1px solid #fff;
  color: #039;
  padding: 8px;
}

.information__table td {
  background: #e8edff;
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid transparent;
  padding: 8px;
}

.information__table td:hover {
  cursor: pointer;
  background: #ccddff;
}

.information {
  min-height: 500px;
  padding: 20px 0;
}

.information__title {
  margin: 40px 0;
}

.information__table {
  font-size: 14px;
  background: white;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.information__table th {
  font-size: 13px;
  font-weight: normal;
  background: #b9c9fe;
  border-top: 4px solid #aabcfe;
  border-bottom: 1px solid #fff;
  color: #039;
  padding: 8px;
}

.information__table td {
  background: #e8edff;
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid transparent;
  padding: 8px;
}

.information__table td:hover {
  cursor: pointer;
  background: #ccddff;
}

.information {
  min-height: 500px;
  padding: 20px 0;
}

.information__title {
  margin: 40px 0;
}

.information__table {
  font-size: 14px;
  background: white;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.information__table th {
  font-size: 13px;
  font-weight: normal;
  background: #b9c9fe;
  border-top: 4px solid #aabcfe;
  border-bottom: 1px solid #fff;
  color: #039;
  padding: 8px;
}

.information__table td {
  background: #e8edff;
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid transparent;
  padding: 8px;
}

.information__table td:hover {
  cursor: pointer;
  background: #ccddff;
}

.charts {
  min-height: 450px;
  padding: 40px 0;
  position: relative;
}

.charts__title {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 700;
  color: #353b48;
  line-height: 1.2;
  text-align: center;
}

.charts__wrapper {
  display: flex;
}

.charts__query, .charts__round, .charts__polar {
  margin: auto;
  height: 10vh;
  width: 100vw;
}

.charts__query:nth-child(2), .charts__query:nth-child(3), .charts__round:nth-child(2), .charts__round:nth-child(3), .charts__polar:nth-child(2), .charts__polar:nth-child(3) {
  margin-left: 20px;
}

.charts__btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(44, 62, 80, 0.6);
  box-shadow: 0px 5px #2d3436;
  border-radius: 0;
  transition: all 0.1s ease-in;
}

.charts__btn:hover {
  background-color: rgba(52, 73, 94, 0.5);
}

.charts__btn:active {
  bottom: 15px;
  box-shadow: none;
  outline: none;
}

.charts__btn:focus {
  outline: none;
}

.data {
  min-height: 400px;
  padding: 40px 0 20px;
  background: url("../img/data/data.svg") center center/cover no-repeat;
}

.data__title {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 100px;
}

.data__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.data__header {
  position: absolute;
  bottom: -80px;
}

.data__item {
  width: 100px;
  height: 57.735px;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data__item:nth-child(2), .data__item:nth-child(3) {
  margin-left: 80px;
}

.data__item::before {
  content: '';
  position: absolute;
  top: -28.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 28.8675px solid #fff;
}

.data__item::after {
  content: '';
  position: absolute;
  bottom: -28.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 28.8675px solid #fff;
}

.data__item img {
  width: 50px;
  height: 50px;
}

.data__item:hover {
  cursor: pointer;
}

.data__item a {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.data__item a:hover {
  text-decoration: none;
}

.information {
  min-height: 500px;
  padding: 40px 0;
}

.information__text1 {
  margin-top: 50px;
  width: 900px;
}

.information__text2 {
  margin-top: 15px;
  width: 900px;
}

.information__text3 {
  margin-bottom: 20px;
  width: 900px;
}

.information__header {
  margin-top: 10px;
  display: inline-block;
  font-size: 24px;
  font-weight: 900;
  color: #353b48;
  position: relative;
  cursor: pointer;
}

.information__header::before {
  content: '';
  height: 7px;
  width: 50px;
  background-color: #353b48;
  position: absolute;
  bottom: -7px;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.information__header::after {
  content: '';
  height: 1px;
  width: 200px;
  background-color: #353b48;
  position: absolute;
  bottom: -4px;
  left: 0px;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

.information__header:hover {
  color: #192a56;
}

.information__header:hover::before {
  transform: translateX(150px);
  background-color: #192a56;
}

.input, .output, .forward {
  min-height: 500px;
  padding: 40px 0;
}

.input__title, .output__title, .forward__title {
  display: block;
  transform: translateX(30px);
}

.services {
  min-height: 500px;
  padding: 40px 0 0;
  position: relative;
}

.services__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.services__item {
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
  z-index: -1;
}

.services__item::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(26, 188, 156, 0.5);
  position: absolute;
  z-index: -1;
}

.services__title {
  margin-top: 30px;
  background-color: black;
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin-bottom: 0;
}

.services__header {
  height: 1050px;
  padding: 40px 0;
  background: url("../img/services/bg.png") center center/cover no-repeat;
}

.services__header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services__header__content {
  display: flex;
  flex-direction: column;
}

.services__header__content h2 {
  font-size: 30px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  margin-top: 200px;
  margin-bottom: 20px;
}

.services__header__content p {
  width: 700px;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.3);
  margin-bottom: 30px;
}

.services__header__content button {
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  animation: gradientButton 5s ease infinite;
}

.services__header__content button:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
}

.services__header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__header__logo h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 900;
}

.services__header__navigation {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.services__header__navigation li a {
  font-size: 20px;
  font-weight: 400;
  color: rgba(127, 140, 141, 0.5);
}

.services__header__navigation li a:hover {
  text-decoration: none;
}

.services__header__navigation li:nth-child(1n+2) {
  margin-left: 40px;
}

.services__header__navigation li:nth-child(6) {
  opacity: 1;
}

.services__header__navigation-btn {
  width: 140px;
  height: 40px;
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 20px;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  animation: gradientButton 5s ease infinite;
}

.services__header__navigation-btn:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
}

.services__header__navigation-btn:active {
  outline: none;
}

.services__header__navigation-btn:focus {
  outline: none;
}

.tooltip {
  position: relative;
}

.tooltip::before, .tooltip::after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.tooltip::after {
  border-right: 6px solid transparent;
  border-bottom: 6px solid #1abc9c;
  border-left: 6px solid transparent;
  content: '';
  height: 0;
  top: 20px;
  left: 20px;
  width: 0;
}

.tooltip::before {
  background: #1abc9c;
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
  top: 26px;
  white-space: nowrap;
}

/* the animations */
/* fade */
.tooltip.fade::before, .tooltip.fade::after {
  transform: translate3d(0, -10px, 0);
  transition: all .15s ease-in-out;
}

.tooltip.fade:hover::before, .tooltip.fade:hover::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  z-index: 1;
}
